.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logintag {
  font-size: 20px;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 40px;
  color: white;
}

.logo {
  font-size: 20px;
  color: white;
}

span {
  color: red;

}

.First_Letter {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, rgb(179, 8, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.Nav_login {
  color: white;
  text-decoration: none;
  margin-left: 1100px;
  margin-right: 20px;

}

.Nav_logout{
  color: white;
  text-decoration: none;
}
